@font-face {
    font-family: america-b;
    src: url(./GT-America-Compressed-Black-Trial.otf);
}
@font-face {
    font-family: america;
    src: url(./GT-America-Compressed-Bold.ttf);
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #111;

}
#nav {
    width: 100%;
    /* height: 100px; */
    border-color: aqua;
    align-items: center;
    display: flex;
    justify-content: space-between;
    top: 0;
    position: fixed;
    z-index: 999;
    padding: 10px 15px;
}
#nav i{
    display: none;
}
#nav h3{
    font-size: 4vh;
    font-family: america;
    text-transform: uppercase;
    color: #C45508;
}
#main {
    width: 100%;
}
#page1 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/b66561b8981387290c0f682665512759c66aa7bb-2880x1796.png/image.png?bg=F2F1EC&w=1440&h=898&auto=format);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
#page1 svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  scale: 1.3;
  z-index: 999;

}
#page1 h1{
    position: absolute;
    bottom: -4vw;
    font-family: america-b;
    font-size: 32vh;
    color: #C45508;
    z-index: 999;

}
#page1 h1::before{
    content: "BowndsRanchesest.1885";
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    font-family: america-b;
    left: 10px;
    font-weight: 500;
    z-index: 999;

}
#page1 h1::after{
    content: "marketing & selling texas ranches";
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    font-family: america-b;
    right: 10px;
    z-index: 999;
}
#overlay {
    position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
/* background-color:red ; */
z-index: 9;
}
#cursor {
    height: 2.5vw;
    width: 6vw;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    scale: 0;
    transition: all linear .2s;
    /* z-index: 999; */
}
#page2 {
    position: relative;
    background-color: #fff;
    min-height: 250vh;
    width: 100%;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/217c65c6aa3412acac7b3d2fa8adc9020e487780-2724x1936.jpg/map.jpg?rect=1,0,2723,1936&w=1024&h=728&auto=format);
    background-size: cover;
    background-position:"top 70%";
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 h1{
    position: absolute;
    top: 0%;
    font-family: america;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13.4vw;
    text-align: center;
    line-height: .8;
    word-spacing: -6px;
    letter-spacing: -5px;

}
#page2 h1::before{
    content: "the representation you deserve";
    position: absolute;
    font-size: 1.2vw;
    bottom: -10%;
    letter-spacing: 1px;
    word-spacing: -2px;
    line-height: 1;
    width: 40%;
    font-weight: 400;
    font-family: gilroy;
    left: 5.5%;
    width: 17%;
    text-align: left;
} 
#page2 h1::after{
    content: "one of America’s Best Brokerages";
    font-size: 1.2vw;
    width: 15%;
    bottom: -10%;
    line-height: 1;
    position: absolute;
    right: 4%;
    letter-spacing: 1px;
    word-spacing: -2px;
    font-weight: 400;
    font-family: gilroy;
    text-align: right;
}
#page2 img {
    height: 130vh;
    width: 50%;
    z-index: 999;
    rotate: -5deg;
}
#page2 h2{
    position: absolute;
    font-size: 150px;
    top: 75%;
    text-align: center;
    font-family: america;
    line-height: 0.8;
    word-spacing: -19px;
    z-index: 999;
}
#page2 h2::after{
    content: "THIRD GENERATION FAMILY-OWNED RANCH BROKERAGE";
    font-size: 1.2vw;
    line-height: 1.3vw;
    position: absolute;
    top: 105%;
    left: 50%;
    word-spacing: 0px;
    letter-spacing:0px;
    font-family: gilroy;
    font-weight: 400;
    transform: translate(-50%,0);
}
#page3 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
}
#page3 h1{
    color: #fff;
    font-size: 9vw;
    letter-spacing: -5px;
    word-spacing: 0px;
    line-height: 8vw;
    font-family: america;
    text-align: center;
    text-transform: uppercase;
}
#page3 h2{
    color: #fff;
    font-size: 7.5vw;
    letter-spacing: -5px;
    word-spacing: 5px;
    font-weight: 100;
    font-family: america;
    text-align: center;
    -webkit-text-stroke: 3px #111;
    text-transform: uppercase;
}
#page3 p{
    color: #fff;
    font-size: 1vw; 
    width: 50%;
    font-weight: 600;
    font-family: gilroy;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    text-transform: uppercase;

}
#page3 img{
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: top;
}

#img-div{
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/9b2b1e20d57cf6988eb3192c1a261b8475d701d4-8192x5464.jpg/JRP_BR_01_1165-Edit.jpg?rect=1038,632,3956,4832&bg=F2F1EC&fp-x=0.3681506849315068&fp-y=0.5578489448352462&w=640&h=815&fit=crop&crop=focalpoint&auto=format);
    background-position: top;
    background-size: cover;
    transition: all linear 0.2s;
}
#img-div h5{
    bottom: 0;
    position: absolute;
    background-color: #fff;
    width: 100%;
    padding:5px;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 100px 0;
}
#page4>button{
    background-image: url(https://bowndsranches.com/textures/buttonBg.svg);
    padding: 10px 20px;
    position: absolute;
    border: none;
    font-family: america;
    text-transform: uppercase;
    font-size: 17px;
    z-index: 99;
    
}
#page4>img{
    height: 300px;
    position: absolute;
    width: 250px;
    z-index: 9;

}


.elem{
    border-top: 1px solid #ffffffc1;
    position: relative;
    cursor: default;
    margin-top: -20px;
}
.elem:nth-last-child(1){
    border-bottom: 1px solid #ffffffc1;
}

.elem h1{
    font-size: 150px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transition: opacity ease 0.1s;
    opacity: 0.3;
    font-family: america-b;

}
.elem h2{
    font-size: 150px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transition: opacity ease 0.1s;

}

#moving-text{
    /* background-color: #111; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    transition: opacity ease 0.1s;
    opacity: 0;
    z-index: 10;
}
#moving-text h2{
    display: inline-block;
    /* background-color: green; */
    margin-left: -4px;
    animation-name: move-txt;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    padding-right: 70px;
    /* background-color: red; */
    font-family: america-b;

}
#moving-text h2 img{
    rotate: 45deg;
    height: 30px;
    right: 3%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);

}
.elem:hover #moving-text{
    opacity: 1;
}
.elem:hover h1{
    opacity: 0;
}

@keyframes move-txt {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media (max-width:600px) {
   
    #nav h3{
        display: none;
    }
    #nav i{
        display: block;
        font-size: 40px;
        color: #C45508;
    }
    #nav h3{
        font-size: 4vh;
        font-family: america;
        text-transform: uppercase;
        color: #C45508;
    }
    #main {
        width: 100%;
    }
    #page1 {
        position: relative;
        height: 100vh;
        width: 100%;
        background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/b66561b8981387290c0f682665512759c66aa7bb-2880x1796.png/image.png?bg=F2F1EC&w=1440&h=898&auto=format);
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }
    #page1 svg{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%);
      scale: 1.3;
      z-index: 999;
    
    }
    #page1 h1{
        position: absolute;
        bottom: 5vw;
        font-family: america-b;
        font-size: 13vh;
        color: #C45508;
        z-index: 999;
        line-height: .8;
        width: 100%;
        text-align: center;

    
    }
    #page1 h1::before{
        content: "BowndsRanchesest.1885";
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: america-b;
        left: 10px;
        font-weight: 500;
        z-index: 999;
        top: -5vw;
    
    }
    #page1 h1::after{
        content: "marketing & selling texas ranches";
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        font-family: america-b;
        right: 10px;
        z-index: 999;
        top: -5vw;
    }
    #overlay {
        position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color:red ; */
    z-index: 9;
    }
    #cursor {
        display: none;
    }
    #page2 {
        position: relative;
        background-color: #fff;
        min-height: 220vh;
        width: 100%;
        background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/217c65c6aa3412acac7b3d2fa8adc9020e487780-2724x1936.jpg/map.jpg?rect=1,0,2723,1936&w=1024&h=728&auto=format);
        background-size: cover;
        background-position:"top 70%";
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #page2 h1{
        position: absolute;
        top: 0%;
        font-family: america;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 18.4vw;
        text-align: center;
        line-height: .8;
        word-spacing: -6px;
        letter-spacing: 0px;
    
    }
    #page2 h1::before{
        content: "the representation you deserve";
        position: absolute;
        font-size: 1.2vw;
        bottom: -1%;
        letter-spacing: 1px;
        word-spacing: -2px;
        line-height: 1;
        width: 40%;
        font-weight: 700;
        font-family: gilroy;
        left: 5.5%;
        width: 17%;
        text-align: left;
    } 
    #page2 h1::after{
        content: "one of America’s Best Brokerages";
        font-size: 1.2vw;
        width: 15%;
        bottom: -1%;
        line-height: 1;
        position: absolute;
        right: 4%;
        letter-spacing: 1px;
        word-spacing: -2px;
        font-weight: 700;
        font-family: gilroy;
        text-align: right;
    }
    #page2 img {
        height: 90vh;
        width: 80%;
        z-index: 999;
        rotate: -5deg;
        top: 27%;
        position: absolute;
    }
    #page2 h2{
        position: absolute;
        font-size: 70px;
        top: 71%;
        text-align: center;
        font-family: america;
        line-height: 0.8;
        word-spacing: -19px;
        z-index: 999;
    }
    #page2 h2::after{
        content: "THIRD GENERATION FAMILY-OWNED RANCH BROKERAGE";
        font-size: 3.2vw;
        line-height: 1.5;
        position: absolute;
        top: 105%;
        left: 50%;
        word-spacing: 0px;
        letter-spacing:0px;
        font-family: gilroy;
        font-weight: 400;
        transform: translate(-50%,0);
    }
    #page3 {
        height: 100vh;
        width: 100%;
        background-color: #111;
        position: relative;
    }
    #page3 h1{
        color: #fff;
        font-size: 15vw;
        letter-spacing: -1px;
        word-spacing: 0px;
        line-height: -vw;
        font-family: america;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        
    }
    #page3 h2{
        color: #fff;
        font-size: 7.5vw;
        letter-spacing: -5px;
        word-spacing: 5px;
        font-weight: 100;
        font-family: america;
        text-align: center;
        /* -webkit-text-stroke: 3px #111; */
        text-transform: uppercase;
    }
    #page3 p{
        color: #fff;
        font-size: 1vw; 
        width: 50%;
        font-weight: 600;
        font-family: gilroy;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vw;
        text-transform: uppercase;
    
    }
    #page3 img{
        position: absolute;
        top: 0;
        left: 0;
        height: 150px;
        width: 150px;
        object-fit: cover;
        object-position: top;
    }
    
    #img-div{
        position: absolute;
        top: 0;
        left: 0;
        height: 150px;
        width: 150px;
        background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/9b2b1e20d57cf6988eb3192c1a261b8475d701d4-8192x5464.jpg/JRP_BR_01_1165-Edit.jpg?rect=1038,632,3956,4832&bg=F2F1EC&fp-x=0.3681506849315068&fp-y=0.5578489448352462&w=640&h=815&fit=crop&crop=focalpoint&auto=format);
        background-position: top;
        background-size: cover;
        transition: all linear 0.2s;
    }
    #img-div h5{
        bottom: 0;
        position: absolute;
        background-color: #fff;
        width: 100%;
        padding:5px;
    }
    #page4{
        min-height: 100vh;
        width: 100%;
        background-color: #111;
        padding: 100px 0;
    }
    #page4>button{
        background-image: url(https://bowndsranches.com/textures/buttonBg.svg);
        padding: 10px 20px;
        position: absolute;
        border: none;
        font-family: america;
        text-transform: uppercase;
        font-size: 17px;
        z-index: 99;
        
    }
    #page4>img{
        height: 300px;
        position: absolute;
        width: 250px;
        z-index: 9;
    
    }
    
    
    .elem{
        border-top: 1px solid #ffffffc1;
        position: relative;
        cursor: default;
        margin-top: -20px;
    }
    .elem:nth-last-child(1){
        border-bottom: 1px solid #ffffffc1;
    }
    
    .elem h1{
        font-size: 150px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        transition: opacity ease 0.1s;
        opacity: 0.3;
        font-family: america-b;
    
    }
    .elem h2{
        font-size: 150px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        transition: opacity ease 0.1s;
    
    }
    
    #moving-text{
        /* background-color: #111; */
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        position: absolute;
        top: 0;
        transition: opacity ease 0.1s;
        opacity: 0;
        z-index: 10;
    }
    #moving-text h2{
        display: inline-block;
        /* background-color: green; */
        margin-left: -4px;
        animation-name: move-txt;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: relative;
        padding-right: 70px;
        /* background-color: red; */
        font-family: america-b;
    
    }
    #moving-text h2 img{
        rotate: 45deg;
        height: 30px;
        right: 3%;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
    
    }
    .elem:hover #moving-text{
        opacity: 1;
    }
    .elem:hover h1{
        opacity: 0;
    }
    
    @keyframes move-txt {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }
    
}